.blur-bg {
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 20px;
  z-index: 0;
  pointer-events: none;
  filter: blur(40px);
  opacity: 1;
  border-radius: 50%;
}

.banner {
  position: relative;
  z-index: 1;
  color: black;
  padding: 200px 0 230px;
  text-align: center;
}

.banner .intro {
  margin: 0 auto;
  width: 75%;
  position: relative;
  z-index: 2; /* ensure text is above the blur */
}

.banner h1 span {
  background: linear-gradient(120deg, rgb(167, 139, 250) 0%, rgb(236, 72, 153) 100%) padding-box text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-mask-image: linear-gradient(black, black);
  /* display: inline-block;  or block */
}

.banner p {
  margin-top: 40px;
}