.banner {
  color: black;
  padding: 190px 0 220px;
  text-align: center;
}

.banner .intro {
  margin: 0 auto;
  width: 75%;
}

.banner h1 {
  font-weight: 600;
}

.banner h1 span { 
  color: var(--gray-color);
}

.banner p {
  margin-top: 40px;
}