.list {
  list-style: none;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, 390px);
  grid-auto-rows: 135px;
  grid-auto-flow: dense;
  justify-content: center;
  text-align: center;
}

.list li {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--gray-color);
}

/*
featured and latest
*/

li.featured,
li.latest {
  /* grid-row: auto / span 2; */
  border-radius: var(--default-radius);
  text-align: center;
  justify-content: center;
}

li.featured .tag,
li.latest,
li.latest a,
li.latest .description {
  color: white !important;
}

li.featured {
  background-color: var(--light-background);
}

/* 
tag
*/

li .tag {
  border-radius: var(--default-radius);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
  text-transform: uppercase;
  padding: 1.5px var(--tag-horizontal-padding);
  color: black;
}

/* li:not(.latest, .featured) {
  border: 1px solid #ccc;
  border-radius: var(--default-radius);
} */

li.featured .tag {
  background-color: var(--darker-gray-color);
  opacity: 0.8;
}

li.latest .tag {
  background-color: white;
}

/* 
link and description
*/

.list a {
  text-decoration: none;
  display: block;
  transition: color 0.15s ease 0s;
}

.list a:hover {
  opacity: 0.85;
}