.list {
  list-style: none;
  padding: 0 50px;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, 390px);
  grid-auto-rows: 135px;
  grid-auto-flow: dense;
  justify-content: center;
  text-align: center;
}

.list li {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  /* border-top: 1px solid #e3e3e3; */
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: var(--gray-color);
}

li.featured,
li.latest {
  grid-row: auto / span 2;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

li.latest,
li.latest a,
li.latest .description {
  color: white !important;
}

li.latest .tag {
  background-color: white;
  margin-bottom: 20px;
}

li.featured {
  background-color: #f9f9f9;
}

li .description {
  color: black;
  font-weight: 500;
  margin-top: 20px;
}

li .tag {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 3px 10px;
  background-color: rgb(245, 231, 140, 0.75); /* rgb(219, 51, 52, 0.75); */
  color: black;
}

.list a {
  text-decoration: none;
  display: block;
  transition: color 0.15s ease 0s;
}

.list a:hover {
  opacity: 0.85;
}