.banner {
  position: relative;
  z-index: 1;
  color: black;
  padding: 150px 0 180px;
  text-align: center;
}

.banner .intro {
  margin: 0 auto;
  width: 75%;
}

.banner h1 span {
  background: var(--gradient) padding-box text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* iOS workaround */
}

.banner p {
  margin-top: 25px;
}