.banner {
  position: relative;
  z-index: 1;
  color: black;
  padding: 140px 0;
  text-align: center;
}

.banner .intro {
  margin: 0 auto;
  width: 75%;
}

.banner h1 span {
  color: var(--accent-color);
  line-height: 1.4;
}

.banner p {
  margin-top: 25px;
}