.unified-card {
  margin: 0 auto 100px;
  border: 1px solid var(--border-color);
  border-radius: var(--default-radius);
  display: grid;
  grid-template-columns: 1fr;
  width: 45%;
  text-align: center;
}

.unified-card .card-link {
  cursor: pointer;
}

.featured-card,
.featured-card a,
.featured-card .tag,
.featured-card .details {
  color: white !important;
}

.featured-card,
.latest-card,
.coming-next-card {
  padding: 30px 40px;
}

.unified-card a {
  text-decoration: none;
}

.unified-card .tag {
  margin-bottom: 7px;
  color: var(--lighter-gray-color);
}

.unified-card .title {
  font-weight: 500;
}

.unified-card .description {
  line-height: 1.4;
}

.unified-card .description,
.unified-card .details {
  margin-top: 10px;
}

.unified-card .details {
  color: var(--gray-color);
}

.secondary-section {
  display: grid;
  grid-template-columns: 1fr;
}

.featured-card {
  border-top-left-radius: var(--default-radius);
  border-top-right-radius: var(--default-radius);
}

.latest-card {
  background: white;
}

.coming-next-card {
  background: var(--light-gray-background);
  border-bottom-left-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
}