.unified-card {
  margin: 0 auto 100px;
  /* border: 1px solid var(--border-color);
  border-radius: var(--default-radius);
  display: grid;
  grid-template-columns: 1fr; */
  width: 45%;
  text-align: center;
}

.unified-card .card-link {
  cursor: pointer;
}

.enabled-card,
.enabled-card a,
.enabled-card .tag,
.enabled-card .details {
  color: white !important;
}

.enabled-card,
.disabled-card {
  border-radius: var(--default-radius);
  padding: 30px 40px;
  margin-bottom: 20px;
}

.unified-card a {
  text-decoration: none;
}

.unified-card .tag {
  margin-bottom: 7px;
  color: var(--darker-gray-color);
}

.unified-card .title {
  font-weight: 500;
}

.unified-card .description {
  line-height: 1.4;
}

.unified-card .description,
.unified-card .details {
  margin-top: 10px;
}

.unified-card .details {
  color: var(--gray-color);
}

.disabled-card {
  background-color: var(--light-gray-background);
  opacity: 0.4;
}