.unified-card {
  margin: 0 auto 150px;
  border-radius: var(--default-radius);
  box-shadow: 0 4px 24px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 1fr;
  width: 50%;
}

.featured-card,
.featured-card a,
.featured-card .tag {
  color: white !important;
}

.featured-card,
.latest-card,
.coming-next-card {
  padding: 40px 50px;
}

.unified-card a {
  text-decoration: none;
}

.unified-card .tag {
  font-weight: 600;;
  text-transform: uppercase;
  color: var(--lighter-gray-color);
}

.unified-card .title {
  padding: 10px 0;
}

.secondary-section {
  display: grid;
  grid-template-columns: 1fr;
}

/* Latest Card */
.latest-card {
  background: white;
}

.latest-card,
.coming-next-card {
  display: flex;
  flex-direction: column;
}

.coming-next-card {
  border-top: 1px solid rgb(229 231 235);
  background: rgb(249 250 251);
  border-bottom-left-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
}

/* Responsive Styles */
@media (max-width: 968px) {
    .unified-card {
        gap: 0;
        padding: 50px;
    }

    .featured-card {
        margin: -50px -50px 40px -50px;
        padding: 40px;
        border-radius: 12px 12px 0 0;
    }
}

@media (max-width: 768px) {
    .unified-card {
        padding: 40px 30px;
    }

    .featured-card {
        margin: -40px -30px 30px -30px;
        padding: 35px;
    }

    .secondary-section {
        display: flex;
        gap: 25px;
    }
}