.unified-card {
  margin: 0 auto 100px;
  width: 45%;
  text-align: center;
}

.unified-card .card-link {
  cursor: pointer;
}

.enabled-card {
  transition: opacity 200ms ease;
}

.enabled-card:hover {
  opacity: 0.95;
}

.enabled-card,
.enabled-card a,
.enabled-card .tag,
.enabled-card .details {
  color: white !important;
}

.enabled-card,
.disabled-card {
  border-radius: var(--default-radius);
  padding: 30px 40px;
  margin-bottom: 20px;
}

.unified-card a {
  text-decoration: none;
}

.unified-card .tag {
  margin-bottom: 7px;
}

.unified-card .title {
  font-weight: 500;
}

.unified-card .description {
  line-height: 1.4;
  font-weight: 500;
}

.unified-card .description,
.unified-card .details {
  margin-top: 12px;
}

.unified-card .details {
  color: var(--gray-color);
}

.disabled-card {
  background-color: var(--light-gray-background);
  opacity: 0.4;
}