body > footer {
  padding: 150px 0 50px;
  text-align: center;
  color: var(--lighter-gray-color);
  line-height: 1.4;
}

body > footer > div {
  margin: 0 auto;
}

.last-updated {
  display: inline-block;
  padding: 2px var(--tag-horizontal-padding) 4px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: var(--default-radius);
}