.main-nav {
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9;
  color: var(--darker-gray-color);
}

.main-nav ul {
  margin: 8px 0;
  padding: 1px 18px;
  border-radius: var(--default-radius);
  list-style: none;
  display: flex;
  gap: 7px;
  background-color: var(--light-background);
}

.main-nav li {
  text-transform: uppercase;
  padding: 5px 12.5px 3px;
}

.main-nav li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.125);
  color: black;
}

.main-nav li a {
  color: inherit;
}