.main-nav {
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 9;
}

.main-nav ul {
  margin: 8px 0;
  padding: 0px 15px;
  border-radius: 30px;
  list-style: none;
  display: flex;
  gap: 7px;
  background-color: #f0f0f0;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.main-nav li {
  text-transform: uppercase;
  padding: 4px 10px 2px;
  transition: color 0.15s ease 0s;
}

.main-nav li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.125);
  color: var(--darker-gray-color);
}

.main-nav li a {
  color: inherit;
}