/* 2K/QHD monitors */
@media (max-width: 3840px) {
  article,
  article > header > div,
  body > footer > div {
    width: 60%;
  }

  .unified-card {
    width: 25%;
  }
}

/* 2K/QHD monitors */
@media (max-width: 2560px) {
  .list {
    padding: 0 75px;
  }

  article,
  article > header > div,
  body > footer > div {
    width: 64%;
  }

  .unified-card {
    width: 30%;
  }
}

/* Midpoint between 2K and Full HD */
@media (max-width: 2100px) {
  .list {
    padding: 0 50px;
  }
  
  article,
  article > header > div,
  body > footer > div {
    width: 68%;
  }

  .unified-card {
    width: 35%;
  }
}

/* Full HD screens */
@media (max-width: 1920px) {
  article,
  article > header > div,
  body > footer > div {
    width: 72%;
  }

  .unified-card {
    width: 40%;
  }
}

/* Widescreen monitors */
@media (max-width: 1600px) {
  article,
  article > header > div,
  body > footer > div {
    width: 76%;
  }

  .unified-card {
    width: 50%;
  }
}

/* Larger laptops */
@media (max-width: 1440px) {
  article,
  article > header > div,
  body > footer > div {
    width: 80%;
  }

  .unified-card {
    width: 60%;
  }
}

/* Small desktops/laptops */
@media (max-width: 1280px) {
  article,
  article > header > div,
  body > footer > div {
    width: 84%;
  }

  .unified-card {
    width: 70%;
  }

  .wrapper {
    gap: 0;
  }
}

/* Large tablets */
@media (max-width: 1024px) {
  :root {
    --font-size: 19px;
  }

  .unified-card {
    width: 80%;
  }

  .wrapper {
    flex-direction: column-reverse;
  }

  .toc {
    position: relative;
    margin: 25px auto;
    top: 15px;
    width: 100%;
    padding: 25px;
  }

  .toc h2 {
    font-size: 24px;
  }

  .toc a {
    font-size: 18px;
  }

  .list {
    padding: 0 20px;
  }

  article,
  article > header > div,
  body > footer > div {
    width: 88%;
  }
}

/* Tablets and smaller screens */
@media (max-width: 768px) {
  .control-wrapper {
    max-width: 340px;
    padding: 15px 0;
  }

  article,
  article > header > div,
  body > footer > div {
    width: 92%;
  }

  .unified-card {
    width: 90%;
  }

  article > header .series-links {
    min-width: 400px;
  }

  article > header {
    padding: 60px 0 70px;
  }

  article > header h1,
  .banner h1  {
    font-size: 42px;
  }

  .stat-count {
    font-size: 30px;
  }

  .toc {
    padding: 20px 15px;
  }

  .toc h2 {
    font-size: 20px;
  }

  body > footer {
    padding: 75px 0 40px;
  }

  .content figure {
    padding: 5px 20px;
  }

  .content .next-link {
    margin-top: 30px;
  }

  .content h2 {
    font-size: 28px;
  }

  .main-nav ul {
    font-size: 22px;
  }

  .banner p,
  article > header p {
    font-size: 20px;
  }

  .toc a,
  .content figcaption,
  .footnotes,
  .meta {
    font-size: 17px !important;
  }

  article > header .meta.series {
    padding: 8px 15px;
  }

  /* home */

  .banner {
    padding: 100px 0 !important;
  }

  .list {
    padding: 0 10px;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fit, 370px);
    grid-auto-rows: 125px;
  }

  .featured-card,
  .latest-card,
  .coming-next-card {
    padding-left: 30px;
    padding-right: 30px;
  }

  .list a,
  .unified-card .title {
    font-size: 28px;
  }

  .unified-card .description {
    font-size: 18px;
  }
  
  .posts-sort select,
  .list p,
  .switch-label,
  .stats,
  .unified-card .details {
    font-size: 17px;
  }

  .stats {
    gap: 35px;
  }

  li .tag,
  .unified-card .tag {
    font-size: 14px;
  }

  body > footer {
    font-size: 15px;
  }
}

/* Large phones */
@media (max-width: 640px) {
  article,
  article > header > div,
  body > footer > div,
  .unified-card {
    width: 96%;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .main-nav li {
    padding: 5px 6px 3px !important;
  }

  article > header .series-links {
    min-width: unset;
  }
}