/* 2K/QHD monitors */
@media (max-width: 3840px) {
  article,
  article > header > div,
  body > footer > div {
    width: 50%;
  }
}

/* 2K/QHD monitors */
@media (max-width: 2560px) {
  .list {
    padding: 0 75px;
  }

  article,
  article > header > div,
  body > footer > div {
    width: 55%;
  }
}

/* Midpoint between 2K and Full HD */
@media (max-width: 2100px) {
  .list {
    padding: 0 50px;
  }
  
  article,
  article > header > div,
  body > footer > div {
    width: 60%;
  }
}

/* Full HD screens */
@media (max-width: 1920px) {
  article,
  article > header > div,
  body > footer > div {
    width: 65%;
  }
}

/* Widescreen monitors */
@media (max-width: 1600px) {
  article,
  article > header > div,
  body > footer > div {
    width: 70%;
  }
}

/* Larger laptops */
@media (max-width: 1440px) {
  article,
  article > header > div,
  body > footer > div {
    width: 75%;
  }
}

/* Small desktops/laptops */
@media (max-width: 1280px) {
  article,
  article > header > div,
  body > footer > div {
    width: 80%;
  }

  .wrapper {
    gap: 0rem;
  }
}

/* Large tablets */
@media (max-width: 1024px) {
  :root {
    --font-size: 18px;
  }

  .wrapper {
    flex-direction: column-reverse;
  }

  .toc {
    padding-left: unset;
    position: unset;
    margin-left: -10px;
  }

  .list {
    padding: 0 20px;
    grid-template-columns: repeat(auto-fit, 354px);
  }
}

/* Tablets and smaller screens */
@media (max-width: 768px) {
  article,
  article > header > div,
  body > footer > div {
    width: 85%;
  }

  article > header {
    padding: 60px 0 70px;
    margin-bottom: 10px;
  }

  article > header h1 {
    font-size: 42px;
  }

  body > footer {
    padding-top: 75px;
  }

  .next-link {
    margin-top: 30px;
  }

  main > h2 {
    font-size: 27px;
  }

  .main-nav ul {
    font-size: 21px;
  }

  .banner p,
  article > header p {
    font-size: 20px;
  }

  .meta,
  .footnotes {
    font-size: 16px;
  }

  /* home */

  .banner {
    padding: 100px 0 130px
  }

  .banner h1 {
    font-size: 38px;
  }

  .list {
    padding: 0 10px;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-auto-rows: 125px;
  }

  .list a {
    font-size: 28px;
  }

  .list p {
    font-size: 17px;
  }

  li .tag {
    font-size: 13px;
  }

  body > footer {
    font-size: 15px;
  }
}

/* Large phones */
@media (max-width: 640px) {
  article,
  article > header > div,
  body > footer > div {
    width: 90%;
  }
}

/* Small phones */
@media (max-width: 480px) {
  .main-nav li {
    padding: 4px 5px 2px;
  }
}