.meta span,
.list p span {
  margin-left: 5px;
  margin-right: 5px;
}

.copy-popup,
li .tag,
article > header .tag span {
  border-radius: var(--default-radius);
  line-height: 1;
}

article,
article > header > div,
body > footer > div {
  width: 70%;
}

table {
  width: 100%;
  margin: 15px 0;
}

th, td {
  width: 25px;
  text-align: center;
}