.meta span,
.list p span,
.count p span {
  margin-left: 3px;
  margin-right: 3px;
}

.last-updated,
.copy-toast,
li .tag,
article > header .tag span {
  line-height: 1;
}

article,
article > header > div,
body > footer > div {
  width: 70%;
}

table {
  width: 100%;
  margin: 15px 0;
}

th, td {
  width: 25px;
  text-align: center;
}

.skip-link {
  background-color: #fff;
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 100;
  padding: 0.5em 1em;
  transition: left 0.2s; /* animate left position on focus */
}

.skip-link:focus {
  left: 16px;
  top: 16px;
  width: auto;
  height: auto;
  outline: 2px solid #222;
  overflow: visible;
}

/* visually hidden but accessible to screen readers */

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.content h2:focus,
#posts-sort-select:focus {
  outline: 1px dashed transparent;
}