.main-nav a,
.toc nav a {
  text-decoration: none;
}

.banner h1,
article > header h1 {
  font-size: 63px;
}

.banner h1 {
  letter-spacing: -2px;
  font-weight: 600;
}

.stat-count {
  font-size: 40px;
}

.content h2 {
  font-size: 34px;
  letter-spacing: -0.5px;
}

.unified-card .title,
.list a {
  font-size: 32px;
}

.banner p,
article > header p {
  font-size: 25px;
}

.main-nav ul {
  font-size: 24px;
}

.toc h2 {
  font-size: 22px;
}

.unified-card .description {
  font-size: 20px;
}

.content figcaption {
  font-size: 19px;
  font-weight: 700;
}

.posts-sort select,
.list p,
.switch-label,
.stats,
.unified-card .details,
.meta {
  font-size: 18px;
}

#dialog-popup,
.copy-toast,
.footnotes {
  font-size: 17px;
}

.search-result .header h3,
.search-results .empty,
.toc a,
body > footer,
.unified-card .tag,
article > header .meta.series {
  font-size: 16px;
}

.search-summary,
li .tag {
  font-size: 15px;
}

.search-result .header .series,
.search-result .header .match-count {
  font-size: 13px;
}

.search-result .header .category {
  font-size: 12px;
}

.meta {
  font-weight: 600;
}

.content p,
.content ol,
.content ul {
  font-family: "Literata", Georgia, Times, "Times New Roman", serif;
}

.unified-card .title,
article header h1,
article .content h2,
.main-nav ul,
.list a {
  font-family: "Fjalla One", Arial, sans-serif;
}