.main-nav a,
.toc nav a {
  text-decoration: none;
}

.banner h1,
article > header h1 {
  font-size: 65px;
}

.banner p,
article > header p {
  font-size: 25px;
}

.banner h1 {
  letter-spacing: -2px;
  font-weight: 600;
}

.content h2 {
  font-size: 34px;
  letter-spacing: -0.5px;
}

.list a {
  font-size: 30px;
}

.main-nav ul {
  font-size: 24px;
}

.toc h2 {
  font-size: 22px;
}

.content figcaption {
  font-size: 19px;
  font-weight: 700;
}

.list p,
.switch-label {
  font-size: 18px;
}

.meta,
.footnotes {
  font-size: 17px;
}

.toc a,
body > footer,
#verse-popup,
.copy-popup {
  font-size: 16px;
}

li .tag {
  font-size: 15px;
}

.meta {
  font-weight: 600;
}

.content p,
.content ol,
.content ul {
  font-family: "Literata", Georgia, Times, "Times New Roman", serif;
}

article header h1,
article .content h2,
.main-nav ul,
.list a {
  font-family: "Fjalla One", "Helvetica Neue", Arial, sans-serif;
}