:root {
  --font-size: 21px;
  --line-height: 1.2;
  --default-font: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  --gray-color: #727272;
  --hover-color: rgb(79, 86, 105);
  --default-radius: 12px;
  --light-background: #f7f7f7;
  --tag-horizontal-padding: 12px;
}
