:root {
  --font-size: 21px;
  --line-height: 1.2;
  --default-font: "Open Sans", Arial, sans-serif;
  --lighter-gray-color: #999;
  --gray-color: #727272;
  --darker-gray-color: rgb(69, 77, 97);
  --default-radius: 12px;
  --light-blue-background: #f1f5f9; /* #f8fafc #f1f5f9 */
  --light-gray-background: rgb(243, 244, 245);
  --tag-horizontal-padding: 10px;
  --gradient: linear-gradient(90deg, rgb(255, 117, 102) 0%, rgb(148, 56, 179) 100%);
  --border-color: #e0e0e0; /* #e2e8f0 */
}
