<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
  <ul class="social-networks">
    <li class="twitter"><a href="https://twitter.com/vladigleba"><img src="/images/twitter.svg" alt="twitter" /></a></li>
    <li class="github"><a href="https://github.com/vladigleba"><img src="/images/github.svg" alt="github" /></a></li>
    <li class="linkedin"><a href="https://www.linkedin.com/in/vladigleba"><img src="/images/linkedin.svg" alt="linkedin" /></a></li>
  </ul>
</hgroup>
