.anchor-link {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.anchor-link > svg {
  opacity: 0.5;
  width: 0.75em;
  height: 0.7em;
}

.anchor-link svg:hover,
.anchor-link svg:focus {
  opacity: 1;
}