.anchor-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.anchor-link::after {
  content: url("assets/images/link.svg");
  display: inline-block;
  position: relative;
  bottom: 7px;
  left: 15px;
  transform: scale(1.3); 
  transform-origin: center;
  filter: brightness(0) saturate(100%) invert(36%) sepia(5%) saturate(158%) hue-rotate(178deg) brightness(94%) contrast(89%); /* #6e7781 */
  transition: filter 0.2s ease;
}

.anchor-link:hover::after {
  filter: brightness(0) saturate(100%); /* Black */
}

h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h2:hover .link-copied-message,
h3:hover .link-copied-message,
h4:hover .link-copied-message {
  display: inline-block;
}

.link-copied-message {
  font-weight: 600;
  position: relative;
  top: -9px;
  left: 35px;
  color: black;
  display: none;
  font-family: var(--body-font);
}