.content blockquote::before {
  content: "\201c";
  font-size: 50px;
  position: absolute;
  top: 15px;
  left: -2px;
}

.content blockquote {
  padding-top: 15px;
  margin-left: 2px;
  position: relative;
  font-style: italic;
}

.content blockquote p {
  padding-left: 30px;
}

.content blockquote em {
  font-weight: 700;
}

.content figcaption {
  color: var(--gray-color);
  text-align: right; 
  padding-bottom: 15px;
  margin-top: -15px;
}