.footnotes-sep {
  display: none;
}

.footnotes {
  position: relative;
  padding: 55px 0 15px;
}

.footnotes::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 40px;
  width: 20%;
  height: 1px;
  background-color: black;
  border-style: none;
  pointer-events: none;
}

.footnotes li p {
  padding: 0;
}

.footnote-item {
  padding: 10px 0;
}