article > header {
  display: inline-block;
  color: #fff;
  padding: 90px 0 100px;
  width: 100vw; /* Make the header take the full width of the viewport */
  margin-left: calc(-50vw + 50%); /* Pull it left by 50vw minus 50% of its container */
  text-align: center;
}

article > header > div {
  margin: 0 auto;
}

article > header h1 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

article > header .description {
  margin-bottom: 35px;
  font-weight: 500;
  line-height: 1.4;
}

article > header .tag b {
  font-weight: unset;
}

article > header .series-links {
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: var(--default-radius);
  display: inline-block;
  padding: 0 20px 8px;
  min-width: 500px;
}

article > header .series-links ol {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

article > header .series-item {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.15s ease;
  margin: 0 -20px;
  padding: 5px 20px;
}

article > header .series-item .series-left {
  flex: 1;
  min-width: 0;
  margin-left: 0;
  margin-right: 0;
}

.series-item .number {
  background: rgb(255, 255, 255, 0.9);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

article > header .series-item .series-right {
  margin-left: auto;
  white-space: nowrap;
}

article > header .series-item[aria-current="page"],
article > header .series-item:not([aria-current="page"]):hover {
  background-color: rgba(255, 255, 255, 0.125);
}

article > header .meta.series {
  font-weight: 700;
  padding: 10px 20px;
  margin: 0 -20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  text-transform: uppercase;
}