main {
  flex: 1; /* Expands to fill available space */
  order: 0; /* Ensures main comes first visually */
}

main > h2 {
  margin-top: 60px;
}

main > ul, 
main > ol {
  padding-bottom: 15px;
}

main p {
  padding: 15px 0px;
}