.post-tags .tag {
  display: inline-block;
  background: var(--light-blue-background);
  color: var(--darker-gray-color);
  padding: 5px 15px 6px;
  border-radius: var(--default-radius);
  text-decoration: none;
}

.post-tags .tag:hover {
  color: black;
}

.tag-meta {
  text-align: center;
  margin: 0;
  font-size: 13px;
  color: #666;
}
