.post-footer {
  margin-top: 40px;
}

.post-footer p {
  font-family: unset;
  padding: 2px 0;
}

.post-footer .next-link {
  border-top: 1px solid black;
  margin-top: 60px;
}

.post-tags .tag {
  display: inline-block;
  background: var(--light-blue-background);
  color: var(--darker-gray-color);
  padding: 7px 15px;
  border-radius: var(--default-radius);
  text-decoration: none;
  margin: 2px 0;
}

.post-tags .tag:hover {
  color: black;
  cursor: pointer;
}