.toc {
  flex: 0 0 320px; /* Fixed width for ToC */
  position: sticky;
  top: 62px;
  align-self: start;
  order: 1; /* Moves ToC to the right */
  margin-top: 42px;
  padding-left: 50px;
}

.toc button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.toc h2 {
  margin: 15px 0 8px 10px;
}

.toc li {
  padding: 4px 5px 7px 10px;
  line-height: 0.95;
 }

.toc li.active a,
.toc li:hover a {
  color: black;
}

.toc li.active a {
  font-weight: bold;
}

.toc a {
  color: var(--gray-color);
  font-weight: 600;
  transition: color 0.15s ease 0s;
}

.toc.collapsed ul {
  display: none;
}