.toc {
  flex: 0 0 350px; /* Fixed width */
  position: sticky;
  top: 80px;
  align-self: start;
  order: 1; /* Moves ToC to the right */
  margin-top: 42px;
  margin-left: 50px;
  background: var(--light-background);
  border-radius: var(--default-radius);
  padding: 15px 18px;
}

.toc button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.toc h2 {
  margin: 0 0 5px 10px;
}

.toc li {
  padding: 4px 5px 7px 10px;
  line-height: 0.96;
 }

.toc li.active a,
.toc li:hover a {
  color: black;
}

.toc li.active a {
  font-weight: bold;
}

.toc a {
  color: var(--darker-gray-color);
  font-weight: 600;
  transition: color 0.15s ease 0s;
}

.toc.collapsed ul {
  display: none;
}