#verse-popup,
.copy-popup {
  position: absolute;
  background: rgb(247, 247, 247);
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--default-radius);
  z-index: 1000;
}

#verse-popup {
  display: none;
  padding: 8px 14px;
  max-width: 300px;
  max-height: 250px;
  overflow-y: auto;
}

#verse-popup.show {
  display: block;
}

.copy-popup {
  font-family: var(--body-font);
  font-weight: 400;
  display: block;
  top: 120%;
  left: 50%;
  transform: translate(-50%);
  padding: 2px 0 4px;
  opacity: 1;
  text-align: center;
  min-width: 112px;
}