<div class="author-bio">
  <img src="/assets/images/author.jpg" alt="Author portrait" class="author-photo" width="80" height="80" loading="lazy">
  <div>
    <p>
      <strong>FirstName LastName</strong> <span>•</span> Author & Site Creator
    </p>
    <p class="blurb">Short description goes here.</p>
  </div>
</div>
