<!DOCTYPE html>
<html lang="en">
  <head>
    {% assign meta_title = title | default: 'The Truth Will Make You Free' %}
    {% assign meta_description = description | default: 'What can the Bible teach us today?' %}
    {% assign categories = 'basics,gospel,prophecy' | split: ',' %}
    {% assign url_parts = page.url | split: '/' %}
    {% assign is_article = false %}
    {% if url_parts.size > 2 and categories contains url_parts[1] %}
      {% assign is_article = true %}
    {% endif %}

    {% render 'layouts/meta', 
       meta_title: meta_title, 
       meta_description: meta_description,
       is_article: is_article,
       page_url: page.url
    %}
  </head>

  <body id="top">
    {% render "layouts/nav" %}

    {{ content }}
    
    {% render "layouts/footer", lastUpdated: lastUpdated %}

    <script src="/assets/js/main.js" defer></script>
  </body>
</html>
