<footer>
  <div>
    <p>
      Unless otherwise noted, Scripture is taken from the King James Version (KJV).<br>
      Made in Oregon. Built with <a href="https://www.11ty.dev">11ty</a>. Written by a human.<br>
      hey @ vladigleba . com
    </p>
  </div>
</footer>