<footer role="contentinfo">
  <div>
    <p>      
      Articles are written by Vladi Gleba, a software engineer based in Oregon who loves studying the Bible. Unless otherwise noted, Bible references are from the KJV.

      <div class="footer-links">
        <a href="https://github.com/vladigleba/vladigleba.github.io">GitHub</a> <span>•</span>
        <a href="/feed.xml" title="RSS feed" rel="alternate">RSS</a> <span>•</span> 
        <i class="hey">hey @ vladigleba . com</i>
      </div>
      
      <div class="last-updated">
        Last updated <time datetime="{{ 'now' | date: '%Y-%m-%dT%H:%M:%S.%3NZ' }}">{{ 'now' | date: '%B %-d, %Y' }}</time>
      </div>
    </p>
  </div>
</footer>