<footer role="contentinfo">
  <div>
    <p>      
      Made in Oregon. Built with <a href="https://www.11ty.dev">11ty</a>. Hosted on <a href="https://github.com/vladigleba/vladigleba.github.io">GitHub</a>. Authored by Vladi Gleba, a software developer who enjoys studying and writing about the Bible. Unless otherwise noted, Bible references are from the KJV.
      
      <div class="hey">
        hey @ vladigleba . com
      </div>
      <div class="last-updated">
        Last updated <time datetime="{{ last_updated.raw }}">{{ last_updated.formatted }}</time>
      </div>
    </p>
  </div>
</footer>