<footer role="contentinfo">
  <div>
    <p>      
      Made in Oregon. Built with <a href="https://www.11ty.dev">11ty</a>. Hosted on <a href="https://github.com/vladigleba/vladigleba.github.io">GitHub</a>. Authored by Vladi Gleba, a software developer who enjoys studying and writing about the Bible. Unless otherwise noted, Bible references are from the KJV. Subscribe via <a href="/feed.xml" title="RSS feed" rel="alternate">RSS</a>.

      <div class="hey">
        hey @ vladigleba . com
      </div>
      
      <div class="last-updated">
        Last updated <time datetime="{{ 'now' | date: '%Y-%m-%dT%H:%M:%S.%3NZ' }}">{{ 'now' | date: '%B %-d, %Y' }}</time>
      </div>
    </p>
  </div>
</footer>