<footer>
  <div>
    <p>
      Built with <a href="https://www.11ty.dev">11ty</a> and authored by Vladi Gleba, a software developer based in Oregon who enjoys studying and writing about the Bible. Unless otherwise noted, Scripture references are from the King James Version. <br> 
      hey @ vladigleba . com
    </p>
  </div>
</footer>