<footer>
  <div>
    <p>
      Authored by Vladi Gleba, a software developer based in Oregon who enjoys studying and writing about the Bible. Unless otherwise noted, verse references are from the King James Version. Built with <a href="https://www.11ty.dev">11ty</a>.
      <br> 
      hey @ vladigleba . com
      <br>
      Last updated on <time datetime="{{ lastUpdated.raw }}">{{ lastUpdated.formatted }}.</time>
    </p>
  </div>
</footer>