<footer>
  <div>
    <p>
      This is the personal site of Vladi Gleba, a software developer based in Oregon who enjoys studying the Bible. Unless otherwise noted, Scripture is from the King James Version. Built with <a href="https://www.11ty.dev">11ty</a>. Authored by a human. <br> 
      hey @ vladigleba . com
    </p>
  </div>
</footer>