<footer>
  <div>
    <p>
      Authored by Vladi Gleba, a software developer based in Oregon who enjoys studying and writing about the Bible. Unless otherwise noted, verse references are from the King James Version. Built with <a href="https://www.11ty.dev">11ty</a>. Last updated on {{ lastUpdated }}.
      <br> 
      hey @ vladigleba . com
    </p>
  </div>
</footer>