<div id="search-container" class="search-container">
  <div class="search-modal">
    <input 
      id="search-input" 
      type="text" 
      class="search-input" 
      placeholder="Search posts..." 
      autocomplete="off"
      aria-label="Search posts"
    >
    <div id="search-results" class="search-results"></div>
  </div>
</div>