---
layout: layouts/base
pagination:
  data: collections.allTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: '/tag/{{ tag }}/'
eleventyComputed:
  title: 'Tagged with: {{ tag }}'
---

{% if site.enableTags %}
  {% render 'layouts/banner', title: title, description: description %}
  {% assign tagData = collections.allPosts.tagsLookup[tag] %}

  <div class="category-view">
    <ol class="list standalone-list">
      {% for post in tagData.posts %}
          {% 
            render 'layouts/cards',
            post: post,
            site: site,
            mode: 'standalone-list'
          %}
        {% endfor %}
      </ol>
    </div>
{% endif %}
