// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$white: #FFFFFF;

html {
	background: $white;
}

cite { font-style: italic; }

a { color: $my-link-color !important; text-decoration: none; }
a:hover { color: darken($my-link-color, 10) !important; }

body {
	font-family: $serif !important;
	font-size: 1em;
	max-width: 850px;
	padding-left: 0.5em;
	padding-right: 0.5em;

	> header {
		background: $white;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;	

		h1 {
			a, a:visited, a:hover {
				color: #333 !important;
				font-family: $heading-font-family;
			}
		}
	}

	> nav {
		background: $white;
    border-top: 1px dashed #e6e6e6 !important;
		border-bottom: 1px dashed #e6e6e6 !important;
		padding: 0.9em 0;

		form .search {
			border-radius: 0.2em;
			box-shadow: none;
			border: 0px;
			padding: 0.6em 0.5em;
		}

		a {
      outline: none;
      padding-top: 0.1em;
      text-shadow: none;
      text-transform: uppercase;
			font-family: $sans;
			font-size: 1.25em;
      font-weight: bold;
		}
    
		li + li {
	    border: none;
      padding-left: 1em;
      
			a { border: none; }
		}
	}

	> div {
		background: $white;
		border-bottom: 0px;

		> div {
			background: $white;
			border-right-width: 0px;
		}
	}

	> footer {
    text-align: center;
		background: $white;
		text-shadow: none;
		color: #AAAAAA;
	  padding-left: 0;
	  padding-right: 0;
		border-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	#content {
		> article {
			padding-left: 0px;
			padding-right: 0px;
		}

		> div {
			> article, > section {
				padding-left: 0px;
				padding-right: 0px;
			}	
		}
	}
}

article {
	padding-top: 2em;

	.entry-content {
    p {
      font-size: 125%;
      line-height: 1.6em;
    }
		h3 {
			font-style: italic
		}
	}

	ul, ol {
		margin-left: 2em;
	}

	a, a:visited {
		color: #1863A1;
	}
  
	header {
    background: none; 
    margin-bottom: 1.5em;
    
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
		}
	}
  
  footer {
    .basic-alignment { font-size: 1.5em; margin-top: 1em; }
  }
  
}

#content {
	div.pagination {
		background: none repeat scroll 0 0 transparent;
		margin: 0 10px;  
		font-size: 0.95em;
		padding-bottom: 1.5em;
		margin-top: 4em;
		position: relative;
		text-align: center;		
		border-top: dotted 1px #D1D1D1;
		border-bottom: dotted 1px #D1D1D1;
	}

	.blog-index {
		article {
			padding-top: 4em;
      
      footer a { 
        background-color: $my-link-color !important; 
        color: #fff !important; 
        border-radius: 4px;
      }
      footer a:hover { background-color: darken($my-link-color, 10) !important; }
      
			header {
				padding-left: 0;
  			padding-right: 0;
			}
		}

		h1 {
			a {
        color: #000 !important;
				font-family: $heading-font-family;
				font-weight: 400;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}

	.hentry {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
			font-size: 2.6em;
		}
	}
	
}

figure.code {
	.highlight {
		background: #212C3B !important;

		.gutter {
			display: none;
		}
	}
}

.pre-code, html .gist .gist-file .gist-syntax .highlight pre, .highlight code {
	background: #212C3B !important;
}

aside, .subscription {
	display: none;
}