// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$accent-color: #699c5f; 
$accent-hover-color: darken($accent-color, 8%);

$text-color: #222;
$secondary-text-color: #aaa;

$default-line-color: #e6e6e6;

$border-radius-size: 4px;

// ------------------------------
// ------------------------------

html { 
  font: 125%/1 "PT Serif", Georgia, Times, "Times New Roman", serif; 
}

body { 
  background-color: #fff; 
  color: $text-color;
  text-align: center; 
  width: 55%;
  margin: 0 auto; 
}

a { 
  text-decoration: none; 
  color: $accent-color; 
  outline: none;
  @include transition(color 0.3s ease 0s);
}
a:hover { 
  color: $accent-hover-color; 
}

.subscription, .mobile-nav, aside { 
  display: none; 
}

cite { font-style: italic; }

h1, h2, h3, h4, h5, h6, h1 > a { text-rendering: optimizeLegibility; }

article header, article .entry-content p, pre { margin-bottom: 1.618rem; }
nav ul li, article header p.meta { font-size: 0.878rem; } /* 0.732+0.146 */

h1, 
article header p.meta, 
#blog-archives h2 { font-family: "Fjalla One", "Helvetica Neue", Arial, sans-serif; }

article > footer > p.meta, 
body > header h2, 
body > footer p, 
article header p.meta, 
nav ul li, 
.pagination,
#blog-archives time, 
#blog-archives footer { 
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; 
}

// ------------------------------
// ------------------------------

body {
  > header {
    margin: 4.236rem 0 2.618rem 0;
  
    h1 { 
      font-size: 3.1rem;
      margin-bottom: 0.382rem;
    
      a, a:hover { color: $text-color; }
    }
  
    h2 { 
      color: $secondary-text-color;
      font-size: 1.464rem; /* 1.184+0.28 */
    }
  }
  
  > footer {
    margin-bottom: 2.618rem;
    
    p { font-size: 0.732rem; color: $secondary-text-color; }
  }
}

// ------------------------------
// ------------------------------

nav {
  border-top: 2px solid #808080;
  border-bottom: 1px dotted $default-line-color;
  overflow: hidden;
  padding: 0.732rem 0;
  margin-bottom: 4.236rem;
  
  form { 
    float: right; 
    
    input.search { 
      border: none;
      background-color: #f2f2f2;
      padding: 0.452rem 0.732rem;
      border-radius: $border-radius-size;
      font-size: 0.732rem;
    }
  }
  
  ul { 
    float: left;
    margin-top: 0.45rem;
    
    li { 
      display: inline; 
      font-weight: bold;
      font-size: 0.968rem; /* 0.732+0.236 */
    }
    
    li + li { 
      padding-left: 1.618rem;
    }
  }
}

// ------------------------------
// ------------------------------

#blog-archives {
  h2 {
    font-size: 1.916rem;
    color: $secondary-text-color;
  }
  
  article {
    margin-left: 4.4rem; /* number not from scale */
    margin-bottom: 2.618rem;
    
    h1 {
      font-size: 1.618rem;
    }
  }
  
  time, footer { 
    color: $secondary-text-color;
    font-size: 0.839rem; /* 0.732+0.107 */
    display: inline;
  }
  
  time:after {
    content: "•";
    padding: 0 0.3rem 0 0.5rem;
  }
}

// ------------------------------
// ------------------------------

#main { 
  clear: both; 
}

.pagination { 
  border-top: 1px solid $default-line-color;
  border-bottom: 1px solid $default-line-color;
  padding: 1.184rem 0;
  margin-bottom: 1.916rem;
}

blockquote {
  font-style: italic;
  border-left: 3px solid $default-line-color;
  padding-left: 1rem;
}

pre {
  background-color: #002933;
  border-radius: $border-radius-size;
  color: #93A1A1;
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
  font-size: 0.732rem;
  padding: 1rem;
}

// ------------------------------
// ------------------------------       

// mine: 17.5 wpl
// hess: 16.6 wpl
// ala:  14.0 wpl
// 

article.hentry { margin-bottom: 3.1rem; } /* for a complete post */
article { 
  text-align: left;
  margin-bottom: 5.634rem; /* 5.016+0.618 | for home page post preview */
  
  header {    
    h1 {
      font-size: 2.298rem; /* 1.916+0.382 */
      margin-bottom: 0.452rem;
      
      a, a:hover {
        color: $text-color; 
      }
    }
    
    p.meta { 
      text-transform: uppercase; 
      color: $secondary-text-color; 
      font-size: 0.968rem; /* 0.732+0.236 */
    }
  }
  
  .entry-content {
    h1 { 
      font-size: 1.618rem;
      margin-top: 3.1rem;
      margin-bottom: 1rem;
    }
    
    p {
      line-height: 1.618rem;
    }
  }
  
  footer {
    padding-top: 0.452rem;
    
    > p.meta:first-child {
      font-size: 0.732rem;
      border-bottom: 1px solid $default-line-color;
      margin-bottom: 1.618rem;
      padding-bottom: 0.732rem;
      
      time:after, span.author:after {
        padding: 0 0.3rem 0 0.5rem;
        content: "•";
      }
    }
    
    > a { 
      @include transition(all 0.3s ease 0s);
      background-color: $accent-color; 
      color: #fff;
      border-radius: $border-radius-size;
      padding: 0.382rem 0.732rem;
      font-size: 0.839rem; /* 0.732+0.107 */
    }
    
    > a:hover { 
      background-color: $accent-hover-color; 
      color: #fff; 
    }
  }
}